<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.neev.cordova.bluetooth"
    version="0.3.0">

    <name>Bluetooth Serial</name>
    <description>Bluetooth Serial Communication Plugin</description>
    <!-- <license>Apache 2.0</license>
    <keywords>bluetooth, arduino</keywords>
    <repo>https://github.com/don/BluetoothSerial.git</repo>
    <issue>https://github.com/don/BluetoothSerial/issues</issue> -->

    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <js-module src="www/bluetooth.js" name="bluetooth">
        <clobbers target="window.bluetooth" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Bluetooth">
                <param name="android-package" value="com.neev.cordova.Bluetooth"/>
            </feature>
        </config-file>

        <source-file src="src/android/Bluetooth.java"
            target-dir="src/com/neev/cordova"/>
        <source-file src="src/android/BluetoothService.java"
            target-dir="src/com/neev/cordova"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

</plugin>
